@import "master.css";

.news_container{
    margin: 1em 0em;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-gap: 40px;
}
div.news_box{
    font-weight: bold;
    padding: 1em 1em;
    border: solid black 1.5px;
    box-shadow: 7px 2px 0.5px 1px var(--newsText), 10px 5px 0px 1px var(--newsBackground);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: var(--newsBackground);
    background-image: url('../img/newsBackground.png');
    background-repeat: no-repeat;
    background-size: 105px 75px;
    background-position: right;
    color: var(--newsText);
}
div.news_box div{
    margin: 0.3em 0em;
    max-width: 85%;
}
.news_box a{
    color: black;
}
.news_box a:visited{
    color: black;
}